<div class="center jumbotron">
    <div class= "home_text">
        <div>Welcome to Clash Royale Blog! 
            <p>Create an account to share interesting strategies or read and learn from other users without logging in!</div>
            </p></div>
</div>

