<div class= "home_text">
  Welcome to Clash Royale Blog!
  <br>Create an account to share interesting strategies or read and learn from other users without logging in!
</div>   
<%= image_tag("/assets/XBOW2_9.JPG", class: "home_image") %>
      


