<!DOCTYPE html>
<html lang="en-US">

<head>
<style>
body {background-color:rgb(193, 115, 59)}

h1 {
  text-align:center;
  font-size:70px;
  font-family:Arial;
  color:white
}

p {
  text-align:center;
  color:white;
  font-size:35px
}
a:link {
  text-decoration:none
}

a:hover, a:active {
  border: 2px solid peachpuff;
  border-radius: 20px;
  background:peachpuff
}

#selected {
  border: 1px solid peachpuff;
  border-radius: 20px;
  background:peachpuff
}

</style>
</head>

<b><div class="navigation_bar" 
        style="text-align:center;           
               font-size:50px;
               background-color: white;">

<a href='/' style="color: black" id="selected">
home
</a>

<a href="/projects"style="color: black">
projects
</a>
</b>

</div>

<h1>Devanshu Row</h1>
<p>An aspiring Ruby on Rails developer</p>

</body>
</html>
