<div class="center jumbotron">
</div>

<div class= "home_text">The meta is ever changing... Lets beat it together at CR Blog! 
  <div>Sign up to share an interesting deck or strategy. 
    You can read other users' tips and tricks without even logging in!</div>
</div>