<div class="center jumbotron">
    <div class= "home_text">
        <div>Share interesting decks and strategies or 
          read and learn from other users without logging in!</div>
      </div>
</div>

